@font-face {
  font-family: Monocraft;
  src: url(Monocraft.ttf)
}

html, body {
  font-family: Monocraft;
  color: #f3f3f3;
  background-color: #111111;
}

table {
  width: 100%;
  height: 100%;
}

.code {
  padding: 2vh 0 2vh;
  white-space: pre-wrap;
  width: 60vh;
  max-width: 60vh;
}

.description {
  padding: 2vh 0 2vh;
  white-space: pre-wrap;
  width: 35vh;
  max-width: 35vh;
}


.example, .example-hide {
  width: 75px;
}

.example > button {
  font-family: Monocraft;
  border: none;
  background-color: orange;
  width: 100%;
  height: 100%;
}

.example > button:hover {
  font-family: Monocraft;
  color: white;
  border: none;
  background-color: #ff00ff;
  width: 100%;
  height: 100%;
}


.example-hide > button {
  opacity: 0;
  background-color: transparent
}

.dropdown {
  display: none;
  
}

.show {
  display: block;
}

table {
  /* white-space: pre-wrap; */
  border-spacing: 1vh 1vh;
  table-layout:fixed;
  /* width:100%; */
}

.table-example {
	border-collapse: collapse;
}

input {
  width: 100vh;
  height: 4vh;
}

.tr-example {
	border-bottom: 1px solid red;
}
.tr-example:nth-last-child(1) {
   border-bottom: none;
}

.snippet {
	margin-top: 1vh;
	margin-right: 0.4vh;
	margin-left: 0.4vh;
	margin-bottom: 1h;
  padding: 0.4vh 0.4vh 0.4vh 0.4vh;
  text-align: left;
  font-weight: normal;
  display: inline-block;
  white-space: pre-wrap;
  vertical-align:top;
  background-color: #333333;
}

.cm-header {color: blue;}
.cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-keyword {color: #f08;}
.cm-atom {color: #219;}
.cm-number {color: #1f4;}
.cm-def {color: #07f;}
.cm-variable {color: #0fa;},
.cm-punctuation,
.cm-property,
.cm-operator {}
.cm-variable-2 {color: #0fa;}
.cm-variable-3, .cm-type {color: #085;}
.cm-comment {color: #a50;}
.cm-string {color: #f11;}
.cm-string-2 {color: #f50;}
.cm-meta {color: #999;}
.cm-qualifier {color: #555;}
.cm-builtin {color: #30a;}
.cm-bracket {color: #997;}
.cm-tag {color: #170;}
.cm-attribute {color: #00c;}
.cm-hr {color: #999;}
.cm-link {color: #00c;}

.cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}