@font-face {
  font-family: Monocraft;
  src: url(Monocraft.ttf)
}

html, body {
  font-family: Monocraft;
  color: #f3f3f3;
  background-color: #111111;
}

table {
  width: 100%;
  height: 100%;
}

input {
  width: 100vh;
  height: 4vh;
  display: inline-block;
}


h4, input {
  font-family: Monocraft;
  display: inline-block;
  margin: 0;
}

.QUERY {
  font-family: Monocraft;
}

.code {
  padding: 2vh 0 2vh;
  white-space: pre-wrap;
  width: 60vh;
  max-width: 60vh;
}

.description {
  padding: 2vh 0 2vh;
  white-space: pre-wrap;
  width: 35vh;
  max-width: 35vh;
}


.example, .example-hide {
  width: 8vh;
}

.toggle-search > button {
  font-family: Monocraft;
  display: inline-block;
  border: none;
  background-color: orange;
  border-radius: 0.5vh;
  color: black;
  height: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.toggle-search > button:hover {
  font-family: Monocraft;
  display: inline-block;
  border: none;
  background-color: #ff00ff;
  border-radius: 0.5vh;
  color: black;
  height: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.example > button {
  font-family: Monocraft;
  border: none;
  background-color: orange;
  color: black;
  width: 100%;
  height: 100%;
}

.example > button:hover {
  font-family: Monocraft;
  border: none;
  background-color: #ff00ff;
  color: white;
  width: 100%;
  height: 100%;
}


.example-hide > button {
  opacity: 0;
  background-color: transparent
}

.dropdown {
  display: none;
}

.show {
  display: block;
}

table {
  border-spacing: 1vh 1vh;
  table-layout:fixed;
}

.table-example {
  border-collapse: collapse;
}

.tr-example:not(:first-child) {
  border-top: 1px solid red;
}

.snippet,
.snippet-input,
.snippet-output {
  width: 50vw;
  margin-left: 3vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;

  text-align: left;
  font-weight: normal;
  display: inline-block;
  white-space: pre-wrap;
  vertical-align: top;
  word-wrap: break-word;
  color: #ffffff;
}

.snippet {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;

  background-color: #000000;
}

.snippet-input {
  width: 35vw;
  background-color: #333333;
}

.snippet-output {
  width: 35vw;
  background-color: #000000;
}

.cm-header {color: blue;}
.cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-keyword {color: #ff659c;}
.cm-atom {color: #219;}
.cm-number {color: #aaaffd;}
.cm-def {color: #07f;}
.cm-variable {color: #73dfa5;}
.cm-variable-2 {color: #ffaa00;}
.cm-variable-3, .cm-type {color: #30a;}
.cm-punctuation {color: #aa0000;}
.cm-property {color: #aa0000;}
.cm-operator {color: #ffffff;}
.cm-comment {color: #807796;}
.cm-string {color: #dfd473;}
.cm-string-2 {color: #f51575;}
.cm-meta {color: #73dfa5;}
.cm-qualifier {color: #555;}
.cm-builtin {color: #30a;}
.cm-bracket {color: #997;}
.cm-tag {color: #170;}
.cm-attribute {color: #00c;}
.cm-hr {color: #999;}
.cm-link {color: #00c;}

.cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}
